modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ API_PORT=8080 pnpm --filter @workspace/echo-messenger run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BDoCI_-V3VnoWI1pf4M4fxUtMCiq_8vd-nS7dnBlVp7Ucgbr_Qy11UUS2PaO6kKQPlrAYbZNDT2AV_-3bN5CaZk"
VAPID_PRIVATE_KEY = "N_cN3tmjS1skBiwoysOBh5JG7OJgws0-tfXDw6vrjko"
